manifest {
  name = 'gwas-vcf-standardisation'
  description = 'Persistent manifest-driven GWAS summary statistics standardisation to GWAS-VCF'
  nextflowVersion = '>=25.04.0'
}

params.repo_root = "${projectDir}/.."
params.pipeline_root = projectDir
params.manifest = "${projectDir}/../manifests/main.tsv"
params.work_root = "${projectDir}/../GWAS"
params.reference_root = "${projectDir}/../references"
params.config_root = "${projectDir}/../manifests"
params.log_root = "${projectDir}/../temp/logs"
params.study_yaml = ''
params.only_study = ''
params.force = false
params.dry_run = false
params.qcplot = true
params.row_limit = 0

process {
  errorStrategy = 'terminate'
}

includeConfig 'conf/local.config'
includeConfig 'conf/slurm.config'
